<template>
    <div class="download"></div>
</template>

<script>
export default {
    name: 'Download',
    created() {
        this.downloadFile();
        this.goNextByLast();
    },
    computed: {
        ...mapGetters('structure', ['currentItem']),
    },
    methods: {
        downloadFile() {
            let documentNameArr = this.currentItem.src.split('/');
            let documentName = documentNameArr[documentNameArr.length - 1];
            let event;
            let link = document.createElement('a');
            
            link.href = `./static/download/${this.currentItem.src}` || '';
            link.setAttribute('target', "_blank");
            link.download = documentName;

            if (typeof(Event) === 'function') {
                event = new MouseEvent('click');
            } else {
                event = document.createEvent('Event');
                event.initEvent('click', true, true);
            }

            link.dispatchEvent(event);
        },
        ...mapActions('structure', ['goNextByLast'])
    }
}
</script>

<style lang="sass" scoped>
</style>
