<template>
    <div ref="wrapper" class="pdf">
        <!-- <object class="pdf__obj">
            <embed
                ref="embed"
                class="pdf__frame"
                :src="src"
                :width="width"
                :height="height"
            />
        </object> -->
        <div class="pdf__loader" v-if="!isLoaded">Загрузка...</div>
        <transition name="fade" v-else>
            <div class="pdf__wrapper">
                <pdf
                    class="pdf__obj"
                    v-for="i in numPages"
                    :key="i"
                    :src="resultSrc"
                    :page="i"
                    ref="embed">
                </pdf>
            </div>
        </transition>
    </div>
</template>

<script>
import pdf from 'vue-pdf'

export default {
    name: 'PdfPlayer',
    props: {},
    data() {
        return {
            isLoaded: false,
            width: null,
            height: null,
            resultSrc: null,
            loadingTask: null,
            numPages: undefined,
        };
    },
    components: {
        pdf
    },
    computed: {
        src() {
            return `./static/pdf/${this.currentItem.src}` || '';
        },
        ...mapGetters('structure', ['currentItem'])
    },
    created() {
        this.loadingTask = pdf.createLoadingTask(this.src);
        this.resultSrc = this.loadingTask;

        this.resultSrc.then(pdf => {
            this.numPages = pdf.numPages;
            this.isLoaded = true;
        });
    },
    methods: {}
};
</script>

<style lang="scss" scoped>
.pdf {
    width: 100%;
    height: calc(100% - 75px);
    flex: 1;

    &__wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    &__frame {
        position: relative;
        height: 100%;
        margin: 0;
        padding: 0;
        border: 0;
        z-index: 2;
        overflow: hidden;
    }
    &__loader {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: calc(100% - 75px);
        z-index: 1;
        text-align: center;
    }
}
</style>
