<template>
    <div class="videoplayer">
        <div class="videoplayer__content" :class="{ 'overflow-hidden': isIE }">
            <div
                v-if="error || !ready"
                class="videoplayer__loader"
            >
                Загрузка...</div>
            <video
                id="videoplayer__element"
                ref="video"
                :class="{ 'full-height': isIE }"
                :controls="isFullscreen"
                :src="src"
                @click="toggleVideoState"
            >
            </video>
            <div
                v-show="paused && ready"
                class="videoplayer__cover"
                @click="toggleVideoState"
            >
                <div class="videoplayer__play-big"></div>
            </div>
            <div
                v-cloak
                ref="controls"
                class="videoplayer__controls controls"
                :class="{ 'videoplayer__controls--played': !paused} "
            >
                <div class="controls__buttons buttons buttons--left">
                    <div
                        v-if="paused"
                        class="buttons__btn buttons__btn--play"
                        @click="toggleVideoState"
                    ></div>
                    <div
                        v-if="!paused"
                        class="buttons__btn buttons__btn--pause"
                        @click="toggleVideoState"
                    ></div>
                </div>
                <div class="controls__timers timer">
                    <span class="timer__current">{{CUIFormattedCurrentTime}}</span>
                </div>
                <CUIProgressbar
                    class="controls__progress-bar"
                    :fraction="videoFraction"
                    @setFraction="seekByFraction"
                    @startDragging="startSeeking"
                    @setFractionByDragging="seekByFraction"
                    @stopDragging="stopSeekingByFraction"
                ></CUIProgressbar>
                <div class="controls__timers timer">
                    <span class="timer__duration">{{ durationS }}</span>
                </div>
                <div class="videoplayer__buttons buttons buttons--right">
                    <div
                        class="buttons__btn buttons__btn--fullscreen"
                        @click="fullscreen"
                    >
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { CUIVideo, CUIProgressbar } from 'course-ui';

export default {
    name: 'VideoElement',
    components: { CUIProgressbar },
    mixins: [CUIVideo],
    data() {
        return {
            $video: null,
            paused: true,
            ready: false,
            duration: 0,
            error: false,
            isFullscreen: false
        };
    },
    computed: {
        isIE() {
            return /(MSIE|Trident\/|Edge\/)/i.test(navigator.userAgent);
        },
        durationS() {
            return this.secondsToHms(this.duration);
        },
        src() {
            return `./static/video/${this.currentItem.src}` || '';
        },
        videoFraction() {
            return this.CUIVideoFraction;
        },
        ...mapGetters('structure', ['currentItem']),
        ...mapGetters('course', ['mediaPaused'])
    },
    watch: {
        mediaPaused() {
            this.CUIToggle();
        }
    },
    mounted() {
        this.createVideoObj();
        this.createEventListeners();
    },
    beforeDestroy() {
        this.clearVideo();
    },
    methods: {
        createVideoObj() {
            if (this.currentItem.src === '') { this.error = true; }
            this.$video = this.$refs.video;
            this.$video.onloadedmetadata = () => {
                this.duration = this.$video.duration;
                this.error = false;
                this.ready = true;
                this.CUIPlay();
            };
            this.$video.onerror = () => {
                this.error = true;
            };
        },
        secondsToHms(d) {
            d = Number(d);
            let h = Math.floor(d / 3600);
            let m = Math.floor(d % 3600 / 60);
            let s = Math.floor(d % 3600 % 60);
            return ((h > 0 ? h + ':' + (m < 10 ? '0' : '') : '') + m + ':' + (s < 10 ? '0' : '') + s);
        },
        toggleVideoState(e) {
            e.preventDefault();
            this.paused = !this.isVideoPlaying;
            this.CUIToggle();
        },
        fullscreen() {
            let element = this.$video;
            if (element.requestFullScreen) {
                element.requestFullScreen();
            } else if (element.mozRequestFullScreen) {
                element.mozRequestFullScreen();
            } else if (element.webkitRequestFullScreen) {
                element.webkitRequestFullScreen();
            } else if (element.msRequestFullscreen) {
                element.msRequestFullscreen();
            }
        },
        seekByFraction(fraction) {
            this.CUISeekByFraction(fraction);
        },
        startSeeking() {
            this.CUIStartSeeking();
        },
        stopSeekingByFraction(fraction) {
            this.CUIStopSeekingByFraction(fraction);
        },
        videoEnded() {
            /* this.currentItem.completed();
            this.currentItem.passed(); */
            this.goNextByLast();
        },
        createEventListeners() {
            let that = this;

            document.addEventListener('webkitfullscreenchange', that.exitHandler);
            document.addEventListener('mozfullscreenchange', that.exitHandler);
            document.addEventListener('fullscreenchange', that.exitHandler);
            document.addEventListener('MSFullscreenChange', that.exitHandler);
            this.$video.addEventListener('pause', that.pausedHandler);
            this.$video.addEventListener('play', that.pausedHandler);
        },
        clearVideo() {
            let that = this;

            document.removeEventListener('webkitfullscreenchange', that.exitHandler);
            document.removeEventListener('mozfullscreenchange', that.exitHandler);
            document.removeEventListener('fullscreenchange', that.exitHandler);
            document.removeEventListener('MSFullscreenChange', that.exitHandler);
            this.$video.removeEventListener('pause', that.pausedHandler);
            this.$video.removeEventListener('play', that.pausedHandler);
            this.$video.onended = undefined;
            this.$video.onloadedmetadata = undefined;
            this.$video.onerror = undefined;
            this.$video.src = '';
        },
        pausedHandler() {
            this.paused = this.$video.paused;
        },
        exitHandler() {
            if (!document.webkitIsFullScreen && !document.mozFullScreen && !document.msFullscreenElement) {
                this.isFullscreen = false;
                this.$video.removeAttribute('controls');
            } else {
                this.isFullscreen = true;
                this.$video.setAttribute('controls', true);
            }
        },
        ...mapActions('structure', ['goNextByLast'])
    }
};
</script>

<style lang="scss">
.videoplayer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 100%;
    margin-top: 5px;

    &__content {
        position: relative;
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__controls {
        position: relative;
        width: 100%;
        height: 48px;
        flex-shrink: 0;
    }
    #videoplayer__element {
        width: 100%;
        max-height: 490px;
    }
    .full-height {
        height: 100%;
    }
    .overflow-hidden {
        overflow: hidden;
    }
    &__loader {
        position: absolute;
        top: 50%;
        left: 50%;
        color: #fff;
        transform: translate(-50%, -50%);
        opacity: .4;
        font-weight: 200;
        font-size: 16px;
        animation: video-loading 2s infinite linear;
    }
    &__cover {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.85);
        cursor: pointer;

        &:hover {
            .videoplayer__play-big {
                transition: all .3s;
            }
        }
    }
    &__play-big {
        width: 166px;
        height: 166px;
        border: 2px solid #fff;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(~@images/mainpage/icon_play.svg);
        transition: all .3s;
    }

    .controls {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 13px 0;
        background-color: #475d66;
        z-index: 10;

        &__timer {
            display: inline-block;
            vertical-align: middle;
        }
        &__progress-bar {
            flex: 1;
            height: 2px;
        }
    }

    /* .controls:-ms-fullscreen {
        z-index: 100;
        width: 100%;
    } */

    .buttons {
        &__btn {
            width: 40px;
            height: 40px;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0 15px;
            cursor: pointer;
            transition: all .3s;
            border-radius: 50%;

            &:hover {
            }
            &--disabled {
                filter: grayscale(100%);
                pointer-events: none;
            }
        }
        &--left {
            display: flex;
            align-items: center;

            .buttons__btn--play {
                background-image: url(~@images/mainpage/icon_play_small.svg);
            }
            .buttons__btn--pause {
                background-image: url(~@images/mainpage/icon_pause_small.svg);
            }
            .buttons__btn--prev {
                //background-image: url(~@images/videoplayer/btn-prev_default.png);
                &.buttons__btn--disabled {
                    //background-image: url(~@images/videoplayer/btn-prev_disabled.png);
                }
            }
            .buttons__btn--next {
                //background-image: url(~@images/videoplayer/btn-next_default.png);
                &.buttons__btn--disabled {
                    //background-image: url(~@images/videoplayer/btn-next_disabled.png);
                }
            }
            .buttons__btn--disabled {
                pointer-events: none;
            }
        }
        &--right {
            display: flex;

            .buttons__btn--sound {
                //background-image: url(~@images/videoplayer/btn-sound_default.png);
            }
            .buttons__btn--muted {
                //background-image: url(~@images/videoplayer/btn-sound_muted.png);
            }
            .buttons__btn--fullscreen {
                background-image: url(~@images/mainpage/icon_fullscreen.svg);
            }
        }
    }
    .progress-bar {
        position: relative;
        display: flex;
        align-items: center;
        margin: 0 25px;
        border-radius: 2px;
        padding: 5px 0;
        cursor: pointer;

        &__total {
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #fff;
            pointer-events: none;
            top: 4px;
        }
        &__progress {
            position: absolute;
            width: 0%;
            height: 2px;
            max-width: 100%;
            pointer-events: none;
            top: 4px;
            &-point {
                content: "";
                position: absolute;
                top: -6px;
                right: -7px;
                height: 15px;
                width: 15px;
                border-radius: 50%;
                background-color: #fff;
                pointer-events: auto;
            }
        }
    }

    .timer {
        display: flex;
        align-items: center;
        font-family: PFHighwaySansPro;

        &__current,
        &__duration {
            font-weight: 200;
            font-size: 12px;
            color: #fff;
            user-select: none;
            -ms-user-select: none;
        }
    }

    @keyframes video-loading {
        50% {
            opacity: .1;
        }
    }
}

.video-interface-enter-active,
.video-interface-leave-active {
    transition: .6s ease-in-out;
}

.video-interface-enter,
.video-interface-leave-active {
    opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
    transition: .5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

[v-cloak] {
    display: none;
}
</style>
