<template>
    <div class="mailfeedback feedback-message mailfeedback__size">
        <div class="feedback-message__header">
            <div class="feedback-message__likes-panel">
                <div class="feedback-message__title">
                    <h3>Нравится материал</h3>
                    <p>Приятно это слышать! :)</p>
                </div>
            </div>
        </div>
        <div class="feedback-message__body">
            <textarea v-model="inputs.userAnswer" class="feedback-message__statement" placeholder="Пожалуйста, напишите здесь, чем Вы хотите с нами поделиться"></textarea>
        </div>
        <div class="feedback-message__button" :class="{disable : !isText}" @click="sendFeedback">
            <span>Отправить</span>
        </div>
        <!-- <transition name="fade" appear>
            <div class="feedback-message__send feedback-send" v-if="showMail">
                <div class="feedback-send__message">
                    <div class="feedback-send__image">
                        <img class="feedback-send__plane" src="images/feedback/plane.svg">
                    </div>
                    <h2 class="feedback-send__heading">Спасибо за обратную связь!</h2>
                    <p class="feedback-send__text">Мы учтем Ваши комментарии в последующих курсах.</p>
                </div>
            </div>
        </transition> -->
    </div>
</template>

<script>
export default {
    name: 'FeedbackLike',
    data() {
        return {
            inputs: {
                userAnswer: ''
            }
        };
    },
    computed: {
        isText() {
            return this.inputs.userAnswer !== '';
        }
    },
    methods: {
        sendFeedback() {
            this.$emit('sendFeedback', {
                data_title: '',
                text: this.inputs.userAnswer,
                tag: ''
            });
            // this.$emit('close');
            this.$emit('thanksFeed');
        }
    }
};
</script>

<style lang="scss" scoped>
.mailfeedback {
    &__size {
        width: 595px;
        height: 462px;
    }
}

.feedback__message {
    &__title {
        text-align: center;
    }
    &__title h3 {
        color: #30353a;
        font-size: 26px;
        font-family: 'GothamPro';
        font-weight: 500;
        font-style: normal;
        margin-bottom: 25px;
        margin-top: 0px;
        padding-top: 23px;
    }
    &__title p {
        color: #000;
        font-size: 22px;
        font-family: 'PFHighwaySansPro';
        font-weight: normal;
        font-style: normal;
        margin-bottom: 0px;
        margin-top: 0px;
        padding-bottom: 18px;
    }
    &__statement {
        display: block;
        width: 100%;
        resize: none;
        height: 295px;
        border: none;
        background: none;
        line-height: 25.5px;
        letter-spacing: -0.025em;
        font-family: 'GothamPro';
        font-weight: 100;
        font-style: normal;
        font-size: 20px;
        color: #000;
        &::placeholder {
            font-size: 15px;
            color: #85919e;
        }
    }
    &__button {
        position: absolute;
        width: 196px;
        height: 52px;
        bottom: -86px;
        left: 50%;
        margin-left: -98px;
        line-height: 52px;
        cursor: pointer;

        &:hover {
            background-color: #ff8f15;
        }
        &.disable {
            background-color: #9ca9b8;
            pointer-events: none;
        }
    }
}
</style>
