<template>
    <div class="subfeedback">
        <div class="subfeedback__caption">Комментарий по курсу</div>
        <textarea
            v-model="inputs.userAnswer"
            class="subfeedback__input"
            placeholder="Пожалуйста, напишите здесь, чем Вы хотите с нами поделиться"
        >
        </textarea>
        <div
            class="subfeedback__button button-default"
            :class="{ disabled : !isText }"
            @click="sendFeedback"
        >
            Отправить
        </div>
    </div>
</template>

<!-- # Определение целевой папки для ассетов
if [ -d "node_modules" ]
then
    # Дев
    echo DEV_ENV
    target_dir=./public/static
else
    # Прод
    echo PROD_ENV
    target_dir=./static
fi

# Если целевой папки не существует, создаем ее
if ! [ -d $target_dir ]
then
    mkdir $target_dir
fi

echo 222

rsync -a --delete --progress crmm@bravo.srv.devspark.ru:/srv/crmm_storage/sb_mik-3/ $target_dir
}; -->

<script>
export default {
    name: 'FeedbackOther',
    data() {
        return {
            inputs: {
                userAnswer: ''
            }
        };
    },
    computed: {
        isText() {
            return this.inputs.userAnswer !== '';
        }
    },
    methods: {
        sendFeedback() {
            this.$emit('sendFeedback', {
                dataTitle: 'Другое',
                text: this.inputs.userAnswer,
                tag: 'other'
            });
        }
    }
};
</script>

<style lang="scss" scoped>
.subfeedback {
  &__caption {
    margin-bottom: 30px;
  }
  &__input {
      height: 290px;
  }
}
</style>
