<template>
    <div class="subfeedback">
        <div class="subfeedback__caption">Технические проблемы</div>
        <div class="subfeedback__scroll-wrapper">
            <CUIScrollbarVertical
                id="subfeedback-tech"
                class="subfeedback__cui-scroll"
            />
            <div
                v-scrollbar="{ id: 'subfeedback-tech', speed: 0.3 }"
                ref="subfeedback-scroll"
                class="subfeedback__scroll"
            >
                <div class="subfeedback__container container">
                    <div class="container__elem area-problem">
                        <div class="area-problem__feature-wrapper">
                            <div
                                v-for="({data_title, tag, title}, index) in items"
                                :key="index"
                                class="feature feature--radio"
                                :class="{ 'feature--selected': index == selectedProblem }"
                                @click="selectProblem(index)"
                            >
                                <div class="feature__icon"></div>
                                <div class="feature__text">{{ title }}</div>
                            </div>
                        </div>
                        <transition name="fade">
                            <div
                                v-show="selectedProblem === items.length - 1"
                                class="subfeedback__form subfeedback__form--problem"
                            >
                                <textarea
                                    v-model="otherProblem"
                                    class="subfeedback__input subfeedback__input--other"
                                    placeholder="Пожалуйста, опишите здесь проблему, с которой Вы столкнулись"
                                >
                            </textarea>
                            </div>
                        </transition>
                    </div>
                    <div class="container__elem area-device">
                        <p class="area-device__caption subfeedback__caption">Чтобы мы могли быстрее и эффективнее помочь Вам, пожалуйста, обязательно  укажите следующие данные:</p>
                        <p class="area-device__text">С какого устройства Вы проходите программу обучения?</p>
                        <p class="area-device__text-add">Если у Вас Ipad, укажите также версию IOS</p>
                        <div class="subfeedback__form subfeedback__form--device">
                            <textarea
                                v-model="device"
                                class="subfeedback__input subfeedback__input--device"
                                wrap="off"
                                placeholder="Компьютер, планшет, смартфон или другое"
                            >
                        </textarea>
                        </div>
                        <p class="area-device__text">Какой браузер и его версию Вы используете?</p>
                        <div class="subfeedback__form subfeedback__form--browser">
                            <textarea
                                v-model="browser"
                                class="subfeedback__input subfeedback__input--browser"
                                wrap="off"
                                placeholder="Google Chrome, Safari, Mozilla Firefox или другой"
                            >
                        </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="subfeedback__button button-default"
            :class="{ disabled: !isText }"
            @click="sendFeedback"
        >
            Отправить
        </div>
    </div>

</template>

<script>
import { FEEDBACK_TECH } from './feedback';

export default {
    name: 'FeedbackTech',
    data() {
        return {
            selectedProblem: null,
            otherProblem: '',
            browser: '',
            device: ''
        };
    },
    computed: {
        feedbackTech() {
            return FEEDBACK_TECH;
        },
        allSelect() {
            return this.selectedProblem !== null && this.device !== '' && this.browser !== '';
        },
        items() {
            return this.feedbackTech.items;
        },
        isText() {
            return this.selectedProblem !== null && this.device !== '' && this.browser !== '';
        }
    },
    methods: {
        selectProblem(index) {
            this.selectedProblem = index;
        },
        sendFeedback() {
            if (this.selectedProblem === this.items.length - 1) {
                this.items[this.selectedProblem].text = this.otherProblem;
            }
            this.$emit('sendFeedback', {
                elem: this.items[this.selectedProblem],
                browser: {
                    tag: this.feedbackTech.userBrowser,
                    text: this.browser
                },
                device: {
                    tag: this.feedbackTech.userDevice,
                    text: this.device
                }
            });
        }
    }
};

</script>

<style lang="scss" scoped>
.subfeedback {
    height: 100%;

    &__caption {
        margin-bottom: 10px;
    }
    &__input {
        &--other {
            margin-top: 15px;
            height: 86px;
        }
        &--device,
        &--browser {
            margin-top: 10px;
            height: 50px;
        }
    }
    &__scroll-wrapper {
        flex: 1;
        height: 0%;
        margin-bottom: 20px;
    }
}

.area-problem {
    width: 100%;

    &__feature-wrapper {
        width: 100%;
    }
}

.area-device {
    width: 100%;
    margin-top: 30px;

    &__title {
        font-size: 20px;
        font-weight: bold;
        color: #485981;
    }
    &__text {
        margin-top: 20px;
        color: #485981;
        font-size: 16px;
        font-weight: bold;
    }
    &__text-add {
        color: #85919e;
        font-size: 16px;
    }
}
</style>
