<template>
    <div class="subfeedback">
        <div class="subfeedback__caption">Материал программы обучения</div>
        <div class="subfeedback__container container">
            <div class="container__elem area-problem">
                <div
                    v-for="({data_title, tag, title}, index) in items"
                    :key="index"
                    class="feature feature--radio"
                    :class="{ 'feature--selected': index == selectedProblem }"
                    @click="selectProblem(index)"
                >
                    <div class="feature__icon"></div>
                    <div class="feature__text">{{ title }}</div>
                </div>
            </div>
            <transition name="fade">
                <div v-if="isOtherSelected" class="subfeedback__form subfeedback__form--problem">
                    <textarea
                        v-model="otherProblem"
                        class="subfeedback__input"
                        placeholder="Пожалуйста, опишите здесь проблему, с которой Вы столкнулись"
                    >
                  </textarea>
                </div>
            </transition>
        </div>
        <div
            class="subfeedback__button button-default"
            :class="{ disabled: isButtonDisabled }"
            @click="sendFeedback"
        >
            Отправить
        </div>
    </div>
</template>

<script>
import { FEEDBACK_CONTENT } from './feedback';
export default {
    name: 'FeedbackContent',
    data() {
        return {
            selectedProblem: null,
            otherProblem: ''
        };
    },
    computed: {
        feedbackContent() {
            return FEEDBACK_CONTENT;
        },
        items() {
            return this.feedbackContent.items;
        },
        isText() {
            return this.otherProblem.length;
        },
        isOtherSelected() {
            return this.selectedProblem === this.items.length - 1;
        },
        isButtonDisabled() {
            if (this.selectedProblem !== null) {
                return (this.isOtherSelected) ? !this.isText : false;
            }
            return true;
        }
    },
    methods: {
        selectProblem(index) {
            this.selectedProblem = index;
        },
        sendFeedback() {
            this.$emit('sendFeedback', this.items[this.selectedProblem]);
        }
    }
};
</script>

<style lang="scss" scoped>
.subfeedback {
    &__caption {
        margin-bottom: 10px;
    }
    &__input {
      height: 100px;
    }
}

.area-problem {
    width: 100%;
    margin-bottom: 20px;
}
</style>
