<template>
    <section class="feedback">
        <div class="feedback__content">
            <div class="feedback__header header">
                <div class="header__title">Обратная связь</div>
                <div
                    class="header__btn"
                    :class="headerBtnClass"
                    @click.stop.prevent="closeBtnBehavior"
                >
                </div>
            </div>
            <div class="feedback__main main">
                <transition name="fastfade" mode="out-in">
                    <div v-if="!currentScreen" class="main__component">
                        <div class="main__group group">
                            <img class="group__icon" src="~@images/mainpage/feedback/icon_comment.png" alt="icon">
                            <div class="group__wrapper">
                                <span class="group__title">Поделитесь своим мнением:</span>
                                <div
                                    v-for="(problem, index) in opinion"
                                    :key="index"
                                    class="group__response response"
                                    :title="problem.data_title"
                                    @click="feedbackScreen(problem)"
                                >
                                    <p class="response__title">{{ problem.title }}</p>
                                    <p
                                        v-show="problem.description"
                                        class="response__text"
                                    >
                                        {{ problem.description }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="main__group group">
                            <img class="group__icon" src="~@images/mainpage/feedback/icon_problem.png" alt="icon">
                            <div class="group__wrapper">
                                <span class="group__title">Сообщите нам о проблемах:</span>
                                <div
                                    v-for="(problem, index) in problems"
                                    :key="index"
                                    class="group__response response"
                                    @click="feedbackScreen(problem)"
                                >
                                    <p class="response__title">{{problem.title}}</p>
                                    <p
                                        v-show="problem.description"
                                        class="response__text"
                                    >
                                        {{ problem.description }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <component
                        :is="currentScreen"
                        v-if="currentScreen"
                        :key="currentScreen"
                        @sendFeedback="sendData"
                        @close="closeBtnBehavior"
                    >
                    </component>
                </transition>
            </div>
        </div>
        <transition name="fade">
            <div v-if="thanksWindow" class="feedback__thanks thanks">
                <div class="thanks__modal">
                    <img class="thanks__img" src="~@images/mainpage/feedback/icon_thanks.png" alt="thanks">
                    <p class="thanks__text">Спасибо, что помогаете сделать<br>программу обучения лучше!</p>
                </div>
            </div>
        </transition>
    </section>
</template>

<script>
import FeedbackTech from './Feedback/FeedbackTechCompo.vue';
import FeedbackContent from './Feedback/FeedbackContentCompo.vue';
import FeedbackLike from './Feedback/FeedbackLikeCompo.vue';
import FeedbackOther from './Feedback/FeedbackOtherCompo.vue';
import { FEEDBACK } from './Feedback/feedback.js';

export default {
    name: 'Feedback',
    components: {
        FeedbackTech,
        FeedbackContent,
        FeedbackLike,
        FeedbackOther
    },
    data() {
        return {
            thanksWindow: false,
            currentScreen: '',
            titleList: [],
            textList: [],
            tagList: []
        };
    },
    computed: {
        elem() {
            return this.currentItem;
        },
        feedbackMap() {
            return FEEDBACK;
        },
        problems() {
            return this.feedbackMap.problems;
        },
        opinion() {
            return this.feedbackMap.opinion;
        },
        isLikeText() {
            switch (this.currentElem.type) {
                case 'audioExample':
                    return ' этот аудиопример';
                case 'exercise':
                    return ' это упражнение';
                case 'clip':
                    return ' этот видеотест';
                case 'faq':
                    return ' эти вопросы клиентов';
                case 'test':
                    return ' это тестирование';
                case 'train':
                    return ' этот тренажер';
                case 'final_test':
                    return ' это тестирование';
                default:
                    return ' этот слайд';
            }
        },
        headerBtnClass() {
            return this.currentScreen === ''
                ? 'header__btn--close'
                : 'header__btn--back';
        },
        ...mapGetters('structure', ['currentItem'])
    },
    methods: {
        feedbackScreen(elem) {
            this.currentScreen = elem.screen;
        },
        sendData(data) {
            console.warn('sendData', this.currentScreen, data);
            if (this.currentScreen === 'FeedbackTech') {
                Object.keys(data).forEach(key => {
                    this.createTemplate(data[key]);
                });
            } else {
                this.createTemplate(data);
            }

            let { titleList: titles, textList: texts, tagList: tags } = this;
            console.log('titles', titles, 'texts', texts, 'tags', tags);
            this.currentItem.commented({ titles, texts, tags });

            this.clearTemplate();
            this.showThanks();
        },
        createTemplate(data) {
            Object.keys(data).forEach(key => {
                switch (key) {
                    case 'dataTitle':
                        this.titleList.push(data[key]);
                        break;
                    case 'text':
                        this.textList.push(data[key]);
                        break;
                    case 'tag':
                        this.tagList.push(data[key]);
                        break;
                    default:
                        break;
                }
            });
        },
        clearTemplate() {
            this.titleList = [];
            this.textList = [];
            this.tagList = [];
        },
        showThanks() {
            this.thanksWindow = true;
            setTimeout(this.closeScreen, 3000);
        },
        closeBtnBehavior() {
            this.currentScreen === ''
                ? this.closeScreen()
                : (this.currentScreen = '');
        },
        ...mapActions('course', ['closeScreen'])
    }
};
</script>

<style lang="scss" scoped>
.feedback {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-family: "PFHighwaySansPro";
    line-height: 1.3;

    &__content {
        display: flex;
        flex-direction: column;
        width: 670px;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0 10px 0;

    &__title {
        font-size: 22px;
        font-weight: bold;
        color: #30353a;
        padding-left: 32px;
    }
    &__btn {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 45%;
        background-color: red;
        transition: all 0.2s;
        cursor: pointer;

        &--close {
            background-image: url("~@images/mainpage/feedback/icon_close-2.svg");
        }
        &--back {
            background-image: url("~@images/mainpage/feedback/icon_back-2.svg");
        }
    }
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 4px 0 0 #dee5f3;
    padding: 40px 45px 45px 45px;
    flex: 1;
    overflow: hidden;
}

.group {
    display: flex;
    margin-bottom: 30px;
    position: relative;
    width: 100%;

    &__icon {
        width: 65px;
        height: 65px;
        margin-right: 20px;
        flex-shrink: 0;
    }
    &__title {
        font-size: 20px;
        font-weight: bold;
        color: #485981;
        margin-bottom: 20px;
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

.response {
    padding: 12px 20px;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    cursor: pointer;

    &__title {
        font-weight: 500;
    }
    &__text {
        margin-top: 5px;
        font-weight: 300;
    }
}

.thanks {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(179, 187, 206, 0.7);

    &__modal {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 375px;
        background-color: #fff;
        padding: 40px;
    }
    &__img {
        margin-bottom: 26px;
    }
    &__text {
        font-size: 16px;
        font-weight: bold;
        color: #485981;
        text-align: center;
    }
}
</style>
