<template>
    <div class="starmarks">
        <div class="starmarks__trophy">
            <img src="@images/starmarks/prize.png" alt="prize">
        </div>
        <div class="starmarks__content content">
            <p class="content__congrat">Поздравляем!</p>
            <div class="content__text">
                Вы успешно завершили {{ textArr[currentWeekNum - 1] }} уровень {{ currentCourseName }}.
            </div>
            <div v-if="currentWeekNum < 3" class="content__text">
                Теперь Вам доступен {{ textArr[currentWeekNum] }} уровень. Выйдите из курса, на открывшейся странице нажмите на кнопку меню, и выберите раздел «Мои траектории».
            </div>
            <p class="content__text--bold">Пожалуйста, оцените наш курс:</p>
            <div
                class="content__stars stars"
                :class="{ 'stars--disabled': isInteractionDisabled }"
            >
                <div
                    v-for="(star, starNum) in maxStars"
                    :key="starNum"
                    class="stars__star star"
                    :class="starClasses(star)"
                    @mouseover="setHoverStars(star)"
                    @mouseout="setHoverStars(0)"
                >
                    <div class="star__img" @click="selectStars(star)"></div>
                </div>
            </div>
            <textarea
                v-model="message"
                autofocus
                class="content__textarea"
                :placeholder="currText"
                :disabled="isInteractionDisabled"
            >
            </textarea>
            <div
                class="content__button button-default"
                :class="{ disabled: isButtonDisabled }"
                @click="sendStatements"
            >
                Отправить
            </div>
        </div>

        <transition name="fade">
            <div v-if="thanksWindow" class="starmarks__thanks thanks">
                <div class="thanks__modal">
                    <img
                        class="thanks__image"
                        src="@images/mainpage/feedback/icon_thanks.png"
                        alt="thanks"
                    >
                    <p class="thanks__text">Спасибо, что помогаете сделать<br>программу обучения лучше!</p>
                </div>
            </div>
        </transition>
    </div>
</template>
<script>
export default {
    name: 'Starmarks',
    data() {
        return {
            maxStars: 5,
            selectedStars: 0,
            hoverStars: 0,
            message: '',
            thanksWindow: false,
            isInteractionDisabled: false,
            textArr: [
                'первый',
                'второй',
                'третий',
                'четвертый',
                'пятый'
            ]
        };
    },
    computed: {
        currentWeekNum() {
            return Number(this.currentCourse.id.split('_')[2].replace(/[^0-9]/g, ''));
        },
        isButtonDisabled() {
            return (this.selectedStars < 4 && this.message === '') || this.selectedStars === 0;
        },
        currText() {
            if (this.selectedStars < 4 && this.selectedStars !== 0) {
                return 'Очень жаль… Пожалуйста, расскажите, что конкретно Вам не понравилось в программе обучения, чтобы мы могли это исправить!';
            }
            return 'Если хотите, можете поделиться Вашим мнением о программе обучения здесь';
        },
        currentCourseName() {
          let courseId = this.currentCourse.id;
          let courseMap = {
            mik: 'Комплексной программы МИК 3.0',
            moik: 'Комплексной программы обучения МОИК',
            ppiik: 'Комплексной программы обучения ППиИК',
            amik: 'Комплексной программы обучения Менеджера по сделкам с недвижимостью АМИК'
          }
          let targetCourse = '';

          if (courseId.includes('mik-3')) {
            targetCourse = 'mik'
          } else if (courseId.includes('moik')) {
            targetCourse = 'moik'
          }  else if (courseId.includes('ppiik')) {
            targetCourse = 'ppiik'
          } else if (courseId.includes('amik')) {
            targetCourse = 'amik'
          } else {
            // Фоллбэк для всех прочих курсов
            targetCourse = 'mik'
          }

          return courseMap[targetCourse];
        },
        ...mapGetters('structure', ['currentCourse', 'currentItem'])
    },
    methods: {
        selectStars(index) {
            this.selectedStars = index;
        },
        setHoverStars(index) {
            this.hoverStars = index;
        },
        sendStatements() {
            this.isInteractionDisabled = true;
            this.currentCourse.rated(this.selectedStars, 1, this.maxStars);
            this.currentCourse.commented({
                titles: ['Комментарий на курс'],
                texts: [this.message],
                tags: [this.selectedStars >= 4 ? 'high_grade' : 'low_grade']
            });
            this.showThanks();
        },
        showThanks() {
            this.thanksWindow = true;
            setTimeout(this.closeStarmarks, 3000);
        },
        closeStarmarks() {
            this.thanksWindow = false;
            this.showScreen('');
            this.currentItem.parent.parent.setCurrent();
        },
        starClasses(index) {
            return {
                'star--marked': index <= this.selectedStars,
                'star--onhover': index <= this.hoverStars
            };
        },
        ...mapActions('course', ['showScreen'])
    }
};
</script>

<style lang="scss" scoped>
.starmarks {
  width: 100%;
  height: 100%;
  font-family: "PFHighwaySansPro";
  background: #dee5f3;
  line-height: 1.5;

  &__trophy {
    position: absolute;
    width: 390px;
    top: 70px;
    left: 20px;
  }
}

.content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 575px;
  height: 90%;
  bottom: 0;
  right: 30px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 #d9e0ef;
  padding: 30px 40px;

  &__congrat {
    font-size: 22px;
    color: #485981;
    font-weight: bold;
    margin-bottom: 20px;
  }
  &__text {
    font-size: 15px;
    font-family: "GothamPro";
    color: #485981;
    margin-bottom: 20px;

    &--bold {
      font-size: 22px;
      font-weight: 700;
      color: #485981;
    }
  }
  &__textarea {
    width: 100%;
    max-width: 100%;
    background-color: #f2f6ff;
    height: 160px;
    max-height: 180px;
    padding: 14px 12px;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 0;
    resize: none;

    &::placeholder {
      color: rgba(133, 145, 158, 0.5);
    }
  }
  &__button {
    align-self: flex-start;
  }
}

.stars {
  display: flex;
  width: 240px;
  text-align: center;

  &--disabled {
    pointer-events: none;
    opacity: 0.3;
  }
}

.star {
  cursor: pointer;

  &__img {
    background-position: center;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    transition: all 0.5s;

    &:hover {
      transform: translateY(-3px);
    }
  }
}

.thanks {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(179, 187, 206, 0.7);
  text-align: center;

  &__modal {
    width: 375px;
    height: 265px;
    background-color: #fff;
    padding: 40px 20px 20px 20px;
  }
  &__image {
    margin: 0 auto 26px;
  }
  &__text {
    font-size: 16px;
    font-family: "PFHighwaySansPro";
    font-weight: bold;
    color: #485981;
  }
}
</style>
