<template>
    <div class="header">
        <div class="header__icons icons">
            <div class="icons__left">
                <!-- <div
                    v-if="isMenuVisible && !isAmik"
                    class="icons__icon icons__icon--menu"
                    @click="changeMenu"
                >
                </div> -->
                <div
                    v-if="isBackVisible"
                    class="icons__icon icons__icon--back"
                    @click="goToMain"
                >
                </div>
            </div>
            <div class="icons__right">
                <!-- Для тестов функционала -->
                <!-- <div
                    :class="[ 'icons__icon', 'icons__icon--red' ]"
                    @click="redAction">
                </div> -->
                <div
                    :class="[ 'icons__icon', 'icons__icon--like',
                              { 'active': likeActive,
                                'disabled': this.likesDisabled }]"
                    @click="setLike"
                >
                </div>
                <div
                    :class="[ 'icons__icon', 'icons__icon--dislike',
                              { 'active': dislikeActive,
                                'disabled': this.likesDisabled }]"
                    @click="setDisLike"
                >
                </div>
                <div
                    class="icons__icon icons__icon--feedback"
                    @click="showFeedbackFrame"
                >
                </div>
                <!-- <div
                    class="icons__icon icons__icon--videohelp"
                    @click="showVideohelpScreen">
                </div> -->
                <div
                    class="icons__icon icons__icon--exit"
                    @click="courseLogout"
                >
                </div>
            </div>
        </div>

    </div>
</template>

<script>
export default {
    name: 'Header',
    components: {
    },
    data() {
        return {};
    },
    computed: {
        likesDisabled() {
            return this.isMenuOpen || this.currentScreen;
        },
        likeStatus() {
            return this.currentItem.state.likeStatus;
        },
        likeActive() {
            return this.currentItem.getLike() === 1;
        },
        dislikeActive() {
            return this.currentItem.getLike() === 2;
        },
        isMenuVisible() {
            return this.currentItem.component === 'chapter' && this.currentScreen !== 'feedback';
        },
        isBackVisible() {
            return this.currentItem.component !== 'chapter' && this.currentScreen !== 'feedback';
        },
        isAmik() {
            return structure.currentCourse.id.includes('amik');
        },
        ...mapGetters('structure', ['currentItem']),
        ...mapGetters('course', ['isMenuOpen', 'currentScreen'])
    },
    methods: {
        redAction() {
            if (this.currentScreen) {
                this.showScreen('');
            } else {
                this.showScreen('starmarks');
            }
        },
        changeMenu() {
            this.toggleMenu();
        },
        goToMain() {
            this.currentItem.parent.parent.setCurrent();
        },
        setLike() {
            this.currentItem.setLike((this.currentItem.getLike() !== 1) ? 1 : 0);
        },
        setDisLike() {
            this.currentItem.setLike((this.currentItem.getLike() !== 2) ? 2 : 0);
        },
        showFeedbackFrame() {
            this.showScreen('feedback');
            if (this.isMenuOpen) {
                this.toggleMenu();
            }
        },
        courseLogout() {
            (window.top.opener) ? window.top.close() : window.location.href = '/auth/logout';
        },
        ...mapActions('course', [
            'toggleMenu',
            'showScreen'
        ])
    }
};
</script>

<style lang="scss" scoped>
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75px;
    background-color: #fff;
    z-index: 100;
    flex-shrink: 0;
}

.icons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 15px;

    &__left,
    &__right {
        @include owl(0, 5px);
        display: flex;
    }
    &__icon {
        width: 54px;
        height: 54px;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        transition: all 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
            background-color: #e3edff;
        }
        &.disabled {
            opacity: 0.3;
            pointer-events: none;
            cursor: default;
        }
        &--red {
          background-color: red;
        }
    }
}
</style>
