<template>
    <div class="mainpage" :class="{ 'menu-open': isMenuOpen }">
        <transition name="fade">
            <div v-if="isMenuOpen" class="mainpage__overlay"></div>
        </transition>
        <section class="mainpage__content content">
            <div class="content__header header">
                <div class="header__inner">
                    <div class="header__title" v-if="!isFinalTest">Раздел {{ curChapterIndex }}</div>
                    <div v-if="!isMenuOpen" class="header__subtitle" v-html="curChapter.name"></div>
                </div>
            </div>
            <div class="content__scroll-wrapper">
                <CUIScrollbarHorizontal
                    id="cui-scroll"
                    ref="chaptersScroll"
                    class="content__cui-scroll"
                />
                <span v-if="isChapterEmpty" class="content__alert">
                    Данный раздел не содержит контента
                </span>
                <div
                    v-scrollbar="{
                        id: 'cui-scroll',
                        speed: 0.1,
                        scrollLeft: scrollOffset,
                        saveScrollInRuntime: true,
                        invertScroll: true
                    }"
                    v-else
                    class="content__chapters-scroll"
                    :class="{ 'scroll-centralized': isScrollCentralized }"
                >
                    <div
                        v-for="(card, index) in availableChapterItems"
                        :key="index"
                        class="content__card card"
                        :class="setClassToCard(card)"
                    >
                        <div class="card__title">{{ card.name }}</div>
                        <div class="card__elements">
                            <div
                                v-for="(item, itemId) in card.items"
                                :key="itemId"
                                class="card__item"
                                :class="itemClasses(item)"
                                @click="goToItem(item.id)"
                                @touchstart="goToItem(item.id)"
                            >
                                <span>{{ setItemName(item) }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
export default {
    name: 'Mainpage',
    props: ['scrollOffset'],
    data() {
        return {
            cuiscrollbar: null
        };
    },
    computed: {
        chapters() {
            return this.currentCourse.items;
        },
        curChapter() {
            return this.currentItem;
        },
        curChapterIndex() {
            let index = this.availableChapters.findIndex(chapter => {
                return chapter.id === this.curChapter.id;
            });
            return index + 1;
        },
        chapterItems() {
            return this.curChapter.items;
        },
        availableChapterItems() {
            return this.chapterItems.filter(e => e.items.length);
        },
        isScrollCentralized() {
            return this.availableChapterItems.length <= 3;
        },
        isChapterEmpty() {
            return !(this.curChapter.items.some(e => e.items.length));
        },
        /**
         * Я это не хотел, нужно для временной заглушки
         */
        isFinalTest() {
            const { name } = this.currentItem;
            return name === 'Итоговое тестирование';
        },
        ...mapGetters('structure', ['currentCourse', 'currentItem', 'availableChapters', 'isAvailable']),
        ...mapGetters('course', ['isMenuOpen']),
        ...mapState(['structure'])
    },
    mounted() {
        this.cuiscrollbar = this.$refs.chaptersScroll;
    },
    methods: {
        goToItem(id) {
            let item = this.currentItem.find(id);
            if (item) {
                if (item.parent) {
                    const parentStat = item.parent;
                    parentStat.setCurrent();
                }
                item.setCurrent();
            }
        },
        itemClasses(item) {
            return {
                'card__item--video': item.type === 'video',
                'card__item--test': item.type === 'test',
                'card__item--audioexample': item.type === 'audioExample',
                'card__item--audiocase': item.type === 'case',
                'card__item--pdf': item.type === 'pdf',
                'card__item--download': item.type === 'download',
                'card__item--screencast': item.type === 'video' && item.config && item.config.screencast,
                'card__item--train': item.type === 'td' || item.type === 'pract',
                'new': false,
                'completed': item.isPassed(),
                'disabled': !this.isAvailable(item)
            };
        },
        setItemName(item) {
            let definedNames = {
                test: 'Тест',
                pdf: 'Презентация'
            }

            return (definedNames[item.type]) ? definedNames[item.type] : item.name;
        },
        setClassToCard(card) {
            return {
                videocard: card.items.length === 1 && card.items[0].type === 'video'
            };
        },
        ...mapActions('course', [
            'showScreen'
        ])
    }
};
</script>

<style lang="scss">
.content__cui-scroll {
    .cui-scrollbar-horizontal__bobber {
        top: -6px;
        height: 14px;
        border-radius: 7px;
        transition: all 0s; // обнуляем дефолтный транзишн, чтобы скролл не мелькал при переходах
    }
}
</style>

<style lang="scss" scoped>
$animaduration: 0.5s;

.mainpage {
    font-family: PFHighwaySansPro;
    background-color: transparent;
    height: calc(100% - 75px);

    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.5);
        z-index: 10;
        top: 0;
        left: 0;
    }
    &.menu-open {
        .header {
            justify-content: flex-start;
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e0e7f5;
    top: 75px;
    height: 100%;
    width: 100%;
    transition: width $animaduration;
    transform: scale(1); // без этого свойства масштабируются элементы внутри карточек и скролл

    &.narrow {
        width: 675px;
        transition: all .5s;
    }
    &__alert {
        text-align: center;
        padding-top: 150px;
        font-size: 28px;
        color: #789;
    }
    &__scroll-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 97%;
        height: 100%;
        overflow: hidden;
    }
    &__cui-scroll {
        position: absolute;
        width: 70%;
        bottom: 0;
        height: 1px;
        margin-bottom: 45px;
        background-color: #b4bed1;
        left: 15%;
    }
    &__chapters-scroll {
        @include owl(0, 10px);
        position: relative;
        display: flex;
        width: auto;
        padding: 0 10px;
        padding-bottom: 20px;
        overflow-y: hidden;
    }
    .scroll-centralized {
        justify-content: center;
    }
}

.header {
    display: flex;
    height: 150px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-shrink: 0;
    padding: 0 25px;

    &__title {
        font-size: 21px;
        font-weight: bold;
        margin-bottom: 10px;
        color: #757b83;
    }
    &__subtitle {
        font-size: 20px;
        transition: all .3s;
        color: #1C2C3F;
    }
}

.card {
    height: 355px;
    width: 296px;
    vertical-align: middle;
    border-radius: 6px;
    position: relative;
    text-align: left;
    box-shadow: 0 4px 10px 0 #a4afc2;
    overflow: hidden;
    flex-shrink: 0;

    &:last-of-type {
        margin-right: 0;
    }
    &__outer {
        text-align: center;
        margin: 0 auto;
        height: 430px;
        width: 3500px;
    }
    &__title {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0;
        width: 100%;
        height: 52px;
        background: #fff;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        padding: 0 6px;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        color: #485981;
    }
    &__elements {
        color: #fff;
        font-size: 15px;
        line-height: 19px;

        &__videocontainer {
            height: 320px;
            position: relative;
        }
        &__videoname {
            padding: 0 45px 0 20px;
            position: absolute;
            bottom: 80px;
            left: 0;
            right: 0;
        }
    }
    &__item {
        position: relative;
        display: flex;
        align-items: center;
        padding: 8px 55px 8px 60px;
        line-height: 1.1;
        text-align: left;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        position: relative;
        cursor: pointer;
        transition: all 0.3s;

        &.disabled {
            opacity: .4;
            pointer-events: none;
            
            &:hover {
                background-color: transparent;
            }
        }
        &::before {
            content: '';
            position: absolute;
            width: 28px;
            height: 28px;
            left: 15px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
        &.completed::after {
            content: '';
            position: absolute;
            width: 26px;
            height: 26px;
            top: 50%;
            transform: translateY(-50%);
            right: 12px;
            background: url(~@images/mainpage/icon_completed.png) no-repeat center;
        }
        &.new::after {
            content: 'New';
            position: absolute;
            top: 50%;
            right: 12px;
            padding: 2px 4px;
            font-family: Arial;
            font-size: 14px;
            font-weight: 700;
            border: 3px solid #fff;
            border-radius: 20px;
            line-height: 1;
            transform: translateY(-50%);
            transform-origin: center;
            // animation: new-icon .7s ease-in-out infinite alternate;
        }
    }
}

@keyframes new-icon {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .3s
}
.fade-enter, .fade-leave-active {
    opacity: 0
}
</style>
