<template>
    <div class="menu" :class="{ 'menu--open': isMenuOpen }">
        <div class="menu__name">{{ currentCourse.name }}</div>
        <hr class="menu__divider">
        <div class="menu__chapters">Разделы</div>
        <div class="menu__scroll-wrapper">
            <CUIScrollbarVertical
                id="menu"
                ref="cuiscrollbar"
                class="menu__cui-scroll"
            />
            <div
                v-scrollbar="{
                    id: 'menu',
                    speed: 0.3,
                    scrollTop: scrollTop
                }"
                class="menu__scroll"
                :class="{ 'menu__scroll--overflown': isOverflown }"
            >
                <div
                    v-for="(chapter, chapterId) in availableChapters"
                    :key="chapterId"
                    class="menu__chapter chapter"
                    :class="setChapterClass(chapter, chapterId)"
                    @click="setChapter(chapter, chapterId)"
                >
                    <div class="chapter__number">
                        <span v-if="setHiddenNumber(chapterId)">{{ chapterId + 1 }}</span>
                    </div>
                    <div class="chapter__name" v-html="chapter.name"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Menu',
    data() {
        return {
            playerMenuVisible: true,
            isMenuBtnVisible: true,
            isMenuBtnBackVisible: false,
            scrollTop: undefined,
            cuiscrollbar: null
        };
    },
    computed: {
        chapters() {
            return this.currentCourse.items;
        },
        isOverflown() {
            return this.cuiscrollbar ? this.cuiscrollbar.overflown : false;
        },
        hasFinalTest() {
            return this.chapters[this.chapters.length - 1].config.finalTest;
        },
        ...mapGetters('structure', [
            'currentCourse', 
            'currentItem', 
            'currentChapter', 
            'availableChapters',
            'isAvailable'
        ]),
        ...mapGetters('course', ['isMenuOpen'])
    },
    mounted() {
        this.cuiscrollbar = this.$refs.cuiscrollbar;
    },
    methods: {
        setChapter(chapter) {
            chapter.setCurrent();
            this.$emit('emitScrollOffset', 0);
            this.toggleMenu();
        },
        setChapterClass(chapter, index) {
            return {
                'chapter--final': this.hasFinalTest && index === this.availableChapters.length - 1,
                'active': chapter === this.currentChapter,
                'disabled': !this.isChapterOpen(chapter)
            };
        },
        setHiddenNumber(index) {
            return !(this.hasFinalTest && index === this.availableChapters.length - 1);
        },
        setScrollChapterClass(chapter, index) {
            return {
                // 'active': this.curChapterIndex === index,
            };
        },
        isChapterOpen(chapter) {
            let status = false;

            if (this.isAvailable(chapter)) {
                status = true
            } else {
                chapter.items.forEach(card => {
                    if (card.items.some(entity => entity.state.waived_date || entity.state.passed_date)) {
                        status = true
                    }
                })
            }
            return status
        },
        ...mapActions('course', ['toggleMenu'])
    }
};
</script>

<style lang="scss">
.menu__cui-scroll {
    .cui-scrollbar-vertical__bobber {
        width: 6px;
        left: -2px;
        border-radius: 7px;
        transition: all 0.1s;
        margin-right: 5px;
    }
}
</style>

<style lang="scss" scoped>
$animaduration: 0.5s;
$menuwidth: 350px;

.menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: -$menuwidth;
    width: $menuwidth;
    height: 100%;
    z-index: 150;
    color: #fff;
    background-color: #3b4357;
    transition: all $animaduration;

    &--open {
        left: 0;
        box-shadow: 10px 0 26px 0 #bcbdbe;
        transition: all $animaduration;
    }
    &__chapters {
        color: #9ca9b8;
        font-size: 15px;
        line-height: 22px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 25px 32px 10px;
    }
    &__name {
        font-size: 24px;
        line-height: 28px;
        font-weight: 500;
        padding: 25px 15px 25px 32px;
    }
    &__divider {
        border-width: 2px;
        border-style: solid;
        width: 28px;
        display: block;
        margin: 0 auto 0 33px;
    }
    &__scroll-wrapper {
        position: relative;
        display: flex;
        width: 100%;
        height: 0%;
        flex: 1;
    }
    &__cui-scroll {
        position: absolute;
        height: 99%;
        width: 2px;
        right: 5px;
        background-color: #b4bed1;
    }
    &__scroll {
        width: 100%;

        &--overflown {
            width: 97%;
        }
    }
}

.chapter {
    position: relative;
    border-bottom: 1px solid #4f5668;
    padding: 7px 0;
    transition: all 0.3s;
    cursor: pointer;

    &--final {
        padding: 18px 0;
    }
    &:hover,
    &.active {
        background-color: #4a566e;
        transition: all .3s;
    }
    &::before {
        content: "";
        position: absolute;
        width: 10px;
        height: 100%;
        top: 0;
        left: -6px;
        transition: all 0.3s;
    }
    &:hover::before,
    &.active::before {
        left: 0px;
    }
    &::after {
        content: "";
        position: absolute;
        width: 12px;
        height: 20px;
        top: 50%;
        right: 10px;
        transition: all .3s;
        transform: translateY(-50%);
        background: url(~@images/mainpage/arrow.png) no-repeat center;
    }
    &:hover::after,
    &.active::after {
        background-image: url(~@images/mainpage/arrow_active.png);
        transition: all .3s;
    }
    &.disabled {
        opacity: 0.3;
        pointer-events: none;
    }
    &__number,
    &__name {
        display: inline-block;
        vertical-align: middle;
    }
    &__number {
        width: 60px;
        color: #58c2ff;
        font-size: 34px;
        line-height: 41px;
        font-weight: 400;
        padding-left: 30px;
    }
    &__name {
        width: 235px;
        font-size: 15px;
        line-height: 22px;
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-active {
    opacity: 0;
}
</style>
