<template>
    <transition name="fade">
        <section class="content">
            <MenuCompo @emitScrollOffset="changeScrollOffset" />
            <div class="content__mainpage-wrapper" :class="{ open: isMenuOpen }">
                <HeaderCompo />
                <template v-if="currentItem.component">
                    <MainpageCompo
                        v-if="isMain"
                        :key="'mainpage'"
                        :scrollOffset="mainpageScrollOffset"
                    />
                    <component
                        :is="targetComponent"
                        v-if="!isMain"
                        :key="'content'"
                    />
                </template>
                <div v-else class="content__error">
                    Не найден шаблон для {{ contentComponent }}!
                </div>
            </div>
        </section>
    </transition>
</template>

<script>
import * as items from './content';
import { CONTENT_MAP } from './content/ContentMap.js';

export default {
    name: 'Content',
    components: {
        ...items
    },
    data() {
        return {
            mainpageScrollOffset: undefined
        };
    },
    computed: {
        targetComponent() {
            return items[ CONTENT_MAP[this.currentItem.component] ];
        },
        isMain() {
            return this.currentItem.component === 'chapter';
        },
        lastChapterElem() {
            if (!this.isMain) {
                let curChapter = this.currentItem.parent.parent;
                let lastSub = curChapter.items[curChapter.items.length - 1];

                return lastSub.items[lastSub.items.length - 1];
            }
            return null;
        },
        isLastChapterElem() {
            return this.currentItem === this.lastChapterElem;
        },
        ...mapGetters('structure', ['currentItem']),
        ...mapGetters('course', ['isMenuOpen'])
    },
    methods: {
        changeScrollOffset(offset = undefined) {
            this.mainpageScrollOffset = offset;

            if (offset !== undefined) {
                this.$nextTick(() => {
                    this.mainpageScrollOffset = undefined;
                });
            }
        }
    }
};

</script>

<style lang="scss" scoped>
.content {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;

    &__mainpage-wrapper {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all .5s;

        &.open {
            left: 350px;
            width: calc(100% - 350px);
            transition: all .5s;
        }
    }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .3s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}
</style>
