<template>
    <transition name="fastfade">
        <section class="screens" :class="{ 'screens--indent': indentConditions }">
            <component :is="targetScreen"></component>
        </section>
    </transition>
</template>

<script>
import * as items from './screens';
import { SCREENS_MAP } from './screens/ScreensMap.js';

export default {
    name: 'Screens',
    components: {
    },
    data() {
        return {};
    },
    computed: {
        targetScreen() {
            return items[ SCREENS_MAP[this.currentScreen] ];
        },
        indentConditions() {
            return this.currentScreen === 'feedback';
        },
        ...mapGetters('course', ['currentScreen'])
    }
};
</script>

<style lang="scss" scoped>
.screens {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #e0e7f5;
    z-index: 110;

    &--indent {
      top: 75px;
      height: calc(100% - 75px);
    }
}

.fastfade-enter-active,
.fastfade-leave-active {
    transition: opacity .25s
}
.fastfade-enter,
.fastfade-leave-to {
    opacity: 0
}
</style>
