<template>
    <div v-if="show && !last" class="exit_alert">
        <div class="exit_alert__window">
            <div class="exit_alert__header">Обратите внимание!</div>
            <div class="exit_alert__text">Если Вы выйдете сейчас, прогресс изучения не сохранится, и Вам придется начать с самого начала. Вы уверены, что хотите прервать прохождение?</div>
            <div class="exit_alert__exit_btn" @click="goBack">Прервать</div>
            <div class="exit_alert__return_btn" @click="hide">Вернуться к прохождению</div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'ExitAlert',
    props: {
        show: {
            type: Boolean,
            default() {
                return false;
            }
        },
        last: {
            type: Boolean,
            default() {
                return false;
            }
        }
    },
    data() {
        return {
        };
    },
    methods: {
        goBack() {
            this.$emit('hide');
            this.$emit('goBack');
        },
        hide() {
            this.$emit('hide');
        }
    }
};
</script>

<style lang="scss">
.exit_alert {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;

    &__window {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 550px;
        background-color: white;
        border-radius: 3px;
        padding: 35px;
    }

    &__header {
        font-family: GothaProReg;
        font-size: 24px;
        font-weight: normal;
    }

    &__text {
        margin: 40px 0;
    }

    &__exit_btn {
        display: inline-block;
        font-size: 17px;
        font-family: GothaProBol;
        padding: 10px 30px;
        color: #80be35;
        border: 2px solid #80be35;
        border-radius: 3px;
        cursor: pointer;

        &:active {
            color: #ff9d29;
            border: 2px solid #ff9d29;
        }
    }

    &__return_btn {
        display: inline-block;
        font-size: 17px;
        font-family: GothaProBol;
        padding: 12px 30px;
        margin-left: 20px;
        color: white;
        background-color: #80be35;
        border-radius: 3px;
        cursor: pointer;

        &:active {
            background-color: #ff9d29;
        }
    }
}
</style>
