<template>
    <div class="train">
        <div
            v-if="!isIframeSrc"
            class="train__error"
        >
            Пустой путь к тренажеру!
        </div>
        <div
            v-if="isError && isIframeSrc"
            class="train__error"
        >
            Ошибка загрузки тренажера / демонстрации!
        </div>
        <div
            v-if="!isLoaded && isIframeSrc"
            class="train__error"
        >
            Загрузка...
        </div>
        <iframe
            v-if="isIframeSrc"
            v-show="isLoaded && !isError"
            ref="iframe"
            class="train__iframe"
            frameborder="0"
            :src="iframeSrc"
        >
            Ваш браузер не поддерживает плавающие фреймы!
        </iframe>
        <TrainFeedbackCompo
            v-if="isFeedbackVisible"
            :isPract="isPract"
            :progress="progress"
            @emitRestartTrain="restartTrain"
        >
        </TrainFeedbackCompo>
    </div>
</template>

<script>
import TrainFeedbackCompo from './TrainFeedbackCompo';

export default {
    name: 'Train',
    data() {
        return {
            iframe: null,
            progress: 0,
            type: null,
            position: 0,
            questions: 0,
            slideCount: 0,
            isLoaded: false,
            isError: false,
            updateInterval: null,
            isFeedbackVisible: false
        };
    },
    components: {
        TrainFeedbackCompo
    },
    computed: {
        iframeSrc() {
            return `./static/td/${this.currentItem.src}/index.html` || '';
        },
        isIframeSrc() {
            return this.iframeSrc !== null;
        },
        isTd() {
            return this.currentItem.type === 'td';
        },
        isPract() {
            return this.currentItem.type === 'pract';
        },
        parentSublocationId() {
            return this.currentItem.parent.parent.id;
        },
        ...mapGetters('structure', ['currentItem'])
    },
    mounted() {
        if (this.$refs.iframe) {
            this.$refs.iframe.onload = event => {
                this.isLoaded = true;
                this.loaded();
            };
            this.$refs.iframe.onerror = event => {
                this.isLoaded = true;
                this.isError = true;
            };
            const http = new XMLHttpRequest();
            http.open('HEAD', this.iframeSrc, false);
            http.send();

            console.warn('--- http.status ---', http.status);

            if (http.status !== 200) this.isError = true;
            console.log('HTTP status: ', http.status);
        } else {
            this.isLoaded = true;
            this.isError = true;
        }
    },
    beforeDestroy() {
        clearInterval(this.updateInterval);
    },
    methods: {
        loaded() {
            this.iframe = this.$refs.iframe.contentWindow;
            this.iframe.addEventListener('moduleReadyEvent', event => {
                this.iframe.cp_i = this.iframe.cpAPIInterface;
                this.iframe.cp_e = this.iframe.cpAPIEventEmitter;
                this.questions = this.iframe.cp.movie.questionObjs.length;
                this.slideCount = this.iframe.cpInfoSlideCount;

                this.updateProgress();
                this.iframe.cp.closeMovie = () => {
                    this.close();
                };
            });
        },
        updateProgress() {
            this.updateInterval = setInterval(() => {
                if (this.iframe.cp_i !== undefined && this.iframe.cp_i !== null) {
                    this.position = this.iframe.cp_i.getCurrentSlideIndex();

                    // Если это практика рассчитываем прогресс по интервалу, если теория - ставим progress 100 в конце тренажера
                    if (this.isPract) {
                        const currentProgress = this.iframe.cp_i.getVariableValue('cpInfoPercentage') || 0;
                        if (currentProgress > this.progress) {
                            this.progress = currentProgress;
                        }
                    }

                    if (this.position === this.slideCount) {
                        if (this.isTd) this.progress = 100;
                        this.finishTrainer();
                    }
                }
            }, 500);
        },
        finishTrainer() {
            clearInterval(this.updateInterval);
            let result = parseInt(this.progress);
            if (result > 100) result = 100;
            if (result < 0) result = 0;
            console.log('Finish Trainer: ' + result + '%');

            // Практику сверяем по проходному баллу, теорию проходим автоматически
            if (this.isPract) {
                this.currentItem.checkResult({ result });
            } else {
                this.currentItem.passed();
            }
            this.toggleFeedback();
        },
        toggleFeedback() {
            this.isFeedbackVisible = !this.isFeedbackVisible;
        },
        restartTrain() {
            this.toggleFeedback();
            clearInterval(this.updateInterval);
            console.log('--- Restart Train ---');
            this.iframe.location.reload(true);
        }
    }
};
</script>

<style lang="scss" scoped>
.train {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 75px);

    &__iframe {
        width: 100%;
        height: 100%;
    }
    &__error {
        padding: 30px 50px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
    }
}
</style>
