<template>
    <transition name="fade">
        <div class="modal" :class="modalClasses">
            <div class="modal__content">
                <div class="modal__body">
                    <div class="modal__circle circle">
                        <svg
                            class="svg-circle"
                            width="150"
                            height="150"
                            viewPort="0 0 100 100"
                            version="1.1"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <circle
                                r="73"
                                cx="75"
                                cy="75"
                                fill="transparent"
                                stroke-dasharray="458.67"
                                stroke-dashoffset="0"
                            ></circle>
                            <circle
                                class="svg-circle__bar"
                                r="73"
                                cx="75"
                                cy="75"
                                fill="transparent"
                                stroke-dasharray="458.67"
                                stroke-dashoffset="0"
                                ref="circleBar"
                            ></circle>
                        </svg>
                        <span class="circle__icon"></span>
                        <span class="circle__percent">{{ progress }}%</span>
                    </div>
                    
                    <!-- <div class="modal__circle circle">
                        <CUIProgressCircle
                            class="circle__shape"
                            :radius="75"
                            :thickness="2"
                            :borderThickness="0"
                            :color="circleColor"
                            :fraction="100"
                        ></CUIProgressCircle>
                            <span class="circle__icon"></span>
                            <span class="circle__percent">{{ progress }}%</span>
                    </div> -->

                    <template v-if="isCompleted">
                        <div class="modal__text text">
                            <p class="text__congrat">Поздравляем!</p>
                            <p class="text__result">Вы успешно завершили тренажер!</p>
                        </div>
                        <div class="modal__buttons buttons">
                            <button
                                class="button buttons__button buttons__button--next"
                                type="submit"
                                @click="goNextByLast"
                            >
                                Продолжить
                            </button>
                        </div>
                    </template>

                    <template v-else>
                        <div class="modal__text text">
                            <p class="text__result">К сожалению, Вы допустили слишком много ошибок.</p>
                            <p class="text__result">Можете вернуться к теории либо пройти тренажер заново.</p>
                        </div>
                        <div class="modal-train__buttons buttons">
                            <button
                                class="button buttons__button buttons__button--again"
                                type="submit"
                                @click="restartTrain"
                            >
                                Пройти заново
                            </button>
                            <button
                                class="button buttons__button buttons__button--next"
                                type="submit"
                                @click="goNextByLast"
                            >
                                Продолжить
                            </button>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
import { CUIProgressCircle } from 'course-ui';
export default {
    name: 'TrainFeedback',
    props: [ 'progress', 'isPract' ],
    data() {
        return {
        };
    },
    computed: {
        isCompleted() {
            if (this.isPract) {
                let passingScore = this.structure.completionThreshold[this.currentItem.type];
                return this.progress >= passingScore;
            } else {
                return true;
            }
            return this.currentItem.state.passed_date
        },
        circleColor() {
            return (this.isCompleted) ? '#61c524' : '#ff754c';
        },
        modalClasses() {
            return {
                'modal--done': this.isCompleted,
                'modal--fail': !this.isCompleted
            }
        },
        ...mapState(['structure']),
        ...mapGetters('structure', ['currentItem'])
    },
    mounted() {
        this.configureCircle(this.$refs.circleBar, this.isCompleted, this.progress)
    },
    methods: {
        configureCircle($circle, complete, progress) {
            let val = progress;
            let color = complete ? '#61c524' : '#ff754c';

            if (isNaN(val)) {
                val = 100;
            } else {
                let r = $circle.getAttribute('r');
                let c = Math.PI * (r * 2);
                console.log('Square: ' + c);
                console.log('Progress: ' + val);

                if (val < 0) { val = 0; }
                if (val > 100) { val = 100; }

                let pct = ((100 - val) / 100) * c;
                console.log('Pct: ' + pct);

                $circle.style.strokeDashoffset = pct;
                $circle.style.stroke = color;
            }
        },
        restartTrain() {
            this.$emit('emitRestartTrain');
        },
        toggleFeedback() {
            this.$emit('emitToggleFeedback');
        },
        ...mapActions('structure', ['goNextByLast'])
    }
};
</script>

<style lang="scss" scoped>
.modal {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.6);

    &__content {
        position: relative;
        display: flex;
        justify-content: center;
        padding: 45px 0;
        width: 545px;
        background: #fff;
        box-shadow: none;
    }
    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 315px;
        text-align: center;
    }
    &--done {
        .circle__icon {
            width: 32px;
            background-image: url(~@images/feedback/icon_done.svg);
        }
    }
    &--fail {
        .circle__icon {
            background-image: url(~@images/feedback/icon_fail.svg);
        }
    }
}

.text {
    text-align: center;
    margin-bottom: 25px;

    &__congrat {
        font-family: 'PFHighwaySansPro';
        font-size: 22px;
        font-weight: bold;
        color: #49ac0c;
    }
    &__result {
        color: #485981;
        max-width: 425px;
        font-family: 'GothamPro';
        font-size: 15px;
        line-height: 22px;
        margin: 0 auto;
        margin-top: 10px;
    }
}

.buttons {
    display: flex;
    @include owl(0, 10px);

    &__button {
        width: 198px;
        font-family: 'GothamPro';
        font-weight: 500;
        border-radius: 26px;
        transition: background-color .1s ease-in-out;
    }
}

//Круг-с результатом статистикой
.circle {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 150px;
    margin-bottom: 30px;

    &__icon {
        width: 24px;
        height: 24px;
        margin-top: 40px;
        background-repeat: no-repeat;
    }
    &__percent {
        margin-top: 10px;
        font-family: 'PFHighwaySansPro';
        font-size: 34px;
        font-weight: 300;
        letter-spacing: -2.5px;
        color: #141F2D;
    }
}

.svg-circle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;

    circle {
        stroke-dashoffset: 0;
        transition: stroke-dashoffset 1s linear;
        stroke: #e9e9e9;
        stroke-width: 2px;
    }
    &__bar {
        stroke: #FF9F1E;
    }
}
</style>
