<template lang="html">
    <div id="player" v-if="isShow" ref="player" :style="playerSize">
        <!-- <transition name="fade" appear> <virtual-modal v-if="isDevEnv && mainView
        === 'virtual' " :virtualCourses="virtualCourses"
        @loadVirtualCourse="loadVirtualCourse"> </virtual-modal> </transition> -->

        <transition name="fade">
            <div
                ref="course"
                :class="[ 'course', 'theme-' + colorTheme,
                          { 'full-height': isFullHeight} ]">
                <ContentCompo/>
                <ScreensCompo v-if="currentScreen"/>
            </div>
        </transition>
        <CourseStructureDebuggerModal class="course-structure-debugger"/>
    </div>
</template>

<script>
    import {mapState} from 'vuex';
    import CourseStructureDebuggerModal from 'course-structure-debugger';
    import * as components from '@components';

    export default {
        name: 'Player',
        components: {
            CourseStructureDebuggerModal,
            ...components
        },
        data() {
            return {
                isShow: false,
                course: null,
                mainView: 'virtual',
                oW: 1,
                oH: 1,
                zoom: 1,
                scale: 1,
                resizeHandled: false
            };
        },
        computed: {
            colorTheme() {
                return this.currentCourse.config.color || 'blue';
            },
            elem() {
                return this.currentItem || {};
            },
            playerSize() {
                return {transform: `scale(${this.zoom})`};
            },
            isFullHeight() {
                return this.currentItem.type === 'td' || this.currentItem.type === 'pract';
            },
            ...mapGetters('structure', ['currentCourse', 'currentItem', 'currentChapter']),
            ...mapGetters('course', ['currentScreen']),
            ...mapState(['structure'])
        },
        created() {
            this
                .structure
                .$on('stateRestored', this.showPlayer);
        },
        mounted() {

            /* if (!this.isDevEnv) {
            this.virtualSelected = true;
            this.mainView = 'preload';
        } */
        },
        methods: {
            showPlayer() {
                setTimeout(() => {
                    window.hidePreloader();
                }, 0);
                this.isShow = true;
                this.course = this.currentCourse;
                this.setTabName();
            },
            getPageSize() {
                let xScroll,
                    yScroll,
                    windowWidth,
                    windowHeight,
                    pageHeight,
                    pageWidth;

                if (window.innerHeight && window.scrollMaxY) {
                    xScroll = document.body.scrollWidth;
                    yScroll = window.innerHeight + window.scrollMaxY;
                } else if (document.body.scrollHeight > document.body.offsetHeight) { // all but Explorer Mac
                    xScroll = document.body.scrollWidth;
                    yScroll = document.body.scrollHeight;
                } else { // Explorer Mac...would also work in Mozilla and Safari
                    xScroll = document.body.offsetWidth;
                    yScroll = document.body.offsetHeight;
                }

                if (self.innerHeight) { // all except Explorer
                    windowWidth = self.innerWidth;
                    windowHeight = self.innerHeight;
                } else if (document.body) { // other Explorers
                    windowWidth = document.body.clientWidth;
                    windowHeight = document.body.clientHeight;
                }

                // for small pages with total height less then height of the viewport
                pageHeight = (yScroll < windowHeight)
                    ? windowHeight
                    : yScroll;

                // for small pages with total width less then width of the viewport
                pageWidth = (xScroll < windowWidth)
                    ? windowWidth
                    : xScroll;

                return [pageWidth, pageHeight, windowWidth, windowHeight];
            },
            getZoomImgStyle({top, left}) {
                return {
                    'transform': `scale(${this.zoom})`,
                    '-ms-transform': `scale(${this.zoom})`,
                    '-moz-transform': `scale(${this.zoom})`,
                    'top': top * this.zoom + 'px',
                    'left': 'calc(50% - ' + left * this.zoom + 'px)'
                };
            },
            resize() {
                let pSize = this.getPageSize();
                console.log('--- resize ---', this.scale, pSize[2] / pSize[3] < this.scale);
                if (pSize[2] / pSize[3] < this.scale) {
                    this.zoom = pSize[2] / this.oW;
                    window.currentZoom = this.zoom;
                } else {
                    this.zoom = pSize[3] / this.oH;
                    window.currentZoom = this.zoom;
                }
                console.log('zoom', this.zoom);
            },
            courseLogout() {
                (window.top.opener)
                    ? window.top.close()
                    : window.location.href = '/auth/logout';
            },
            setTabName() {
                let courseId = this.currentCourse.id;
                let tabName = '';

                if (courseId.includes('mik-3')) {
                    tabName = 'СБ МИК'
                } else if (courseId.includes('moik')) {
                    tabName = 'СБ МОИК'
                } else if (courseId.includes('ppiik')) {
                    tabName = 'СБ ПЦП ППиИК'
                } else if (courseId.includes('amik')) {
                    tabName = 'СБ АМИК'
                } else {
                    // Фоллбэк для всех прочих курсов
                    tabName = 'СБ МИК'
                }

                document.title = tabName;
            }
            /* loadVirtualCourse(activityId) {
            window.CAPI.targetVirtualId = activityId;
            this.virtualSelected = true;
            this.mainView = 'preload';
            window.CAPI.fireCourseLaunch();
            this.course = window.CourseObj;
        } */
        },
        updated() {
            if (!this.resizeHandled && this.$refs.player) {
                this.oW = this.$refs.player.clientWidth;
                this.oH = this.$refs.player.clientHeight;
                this.scale = this.oW / this.oH;
                this.resizeHandled = true;

                window.addEventListener('resize', () => {
                    this.resize();
                });

                this.resize();
            }
        }
    };
</script>

<style lang="scss" scoped="scoped">
    #player {
        flex-shrink: 0;
        position: relative;
        display: flex;
        justify-content: center;
        left: 0;
        top: 0;
        width: 1024px;
        height: 675px;
        margin: 0;
        border: none;
        overflow: hidden;
    }

    .course {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: #e0e7f5;
    }

    .full-height {
        height: 100%;
    }
    /* .svg {
    display: block;
    height: 100px;
    width: 100px;
    //background-image: url(@images/test.svg);
} */
</style>