<template lang="html">
    <transition name="fade">
        <div v-if="showPreloader" class="preloader">
            <div class="preloader__circles circles">
                <div class="circles__wrapper">
                    <div class="circles__circle circles__circle--1"></div>
                    <div class="circles__circle circles__circle--2"></div>
                </div>
                <span class="circles__percent">Загрузка...{{ loadedPerc }}%</span>
            </div>
        </div>
    </transition>
</template>

<script>
export default {
    name: 'PreloaderCompo',
    data() {
        return {
            showPreloader: true,
            loadedPerc: 100
        };
    },
    created() {
        window.hidePreloader = this.hidePreloader;
    },
    methods: {
        hidePreloader() {
            this.showPreloader = false;
        }
    }
};
</script>

<style lang="scss" scoped>
.preloader {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 145px 0;
    background-color: #fff;
    z-index: 200;

    &__circles {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform-origin: 0;
        z-index: 210;
    }
}

.circles {
    &__wrapper {
        position: relative;
        height: 76px;
        width: 76px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
    &__circle {
        border: 3px solid #B4B7BB;
        border-radius: 50%;
        animation: circle-rotation 1s infinite linear;

        &--1 {
            position: absolute;
            top: 0;
            left: 0;
            height: 76px;
            width: 76px;
        }
        &--2 {
            position: relative;
            height: 50px;
            width: 50px;
            animation-direction: reverse;
        }
    }
    &__percent {
        font-family: 'Arial';
        font-style: italic;
        font-size: 24px;
        font-weight: 100;
        letter-spacing: normal;
        color: #373c42;
    }
}
</style>
