// ЦВЕТА ТЕМ

$themes: (
  blue: (
    mainColor: #6186ef,
    lightColor: #9ab0ed,  // линии на карточках
    middleColor: #6885d9,  // в аудиокейсах
    darkColor: #5f53d0,  // ховеры
    menuColor: #58c2ff,  // боковое меню
    grad1: #6b9afe,  // градиент карточек
    grad2: #6e7af2,  // градиент карточек
    grad3: #a572e0,  // градиент карточек
  ),
  green: (
    mainColor: #03b299,
    lightColor: #4ed6af,
    middleColor: #00b68d,
    darkColor: #009983,
    menuColor: #02cf8f,
    grad1: #00ca89,
    grad2: #01bd91,
    grad3: #03af9a,
  ),
  red: (
    mainColor: #fe7e7b,
    lightColor: #f399a8,
    middleColor: #ee6299,
    darkColor: #E85858,
    menuColor: #f17e7c,
    grad1: #ff837a,
    grad2: #f77388,
    grad3: #ee6299,
  )
) !default;

@mixin themify($theme, $colors) {
  .theme-#{$theme} {

    .mainpage {
      .card {
        background: linear-gradient(135deg, map-get($colors, "grad1"), map-get($colors, "grad3"));

        &__item {
          border-bottom-color: map-get($colors, "lightColor");

          &:hover {
            background-color: map-get($colors, "darkColor");
          }
          &--video::before {
            background-image: url("~@images/mainpage/theme-#{$theme}/icon_video.png");
          }
          &--test::before {
            background-image: url("~@images/mainpage/theme-#{$theme}/icon_test.png");
          }
          &--audioexample::before {
            background-image: url("~@images/mainpage/theme-#{$theme}/icon_audioexample.png");
          }
          &--audiocase::before {
            background-image: url("~@images/mainpage/theme-#{$theme}/icon_audiocase.png");
          }
          &--pdf::before {
            background-image: url("~@images/mainpage/theme-#{$theme}/icon_pdf.png");
          }
          &--download::before {
            background-image: url("~@images/mainpage/theme-#{$theme}/icon_download.png");
          }
          &--memo::before {
            background-image: url("~@images/mainpage/theme-#{$theme}/icon_memo.png");
          }
          &--screencast::before {
            background-image: url("~@images/mainpage/theme-#{$theme}/icon_screencast.png");
          }
          &--train::before {
            background-image: url("~@images/mainpage/theme-#{$theme}/icon_train.png");
          }
        }
      }
      .content__cui-scroll {
        & .cui-scrollbar-horizontal__bobber {
          background: linear-gradient(90deg, map-get($colors, "grad1"), map-get($colors, "grad2"), map-get($colors, "grad3"));
        }
      }
    }

    .menu {
      .chapter {
        &:hover::before,
        &.active::before {
          background-color: map-get($colors, "menuColor");
        }
        &__number {
          color: map-get($colors, "menuColor");
        }
      }
      &__divider {
        border-color: map-get($colors, "middleColor");
      }
      .menu__cui-scroll {
        .cui-scrollbar-vertical__bobber {
            background-color: map-get($colors, "menuColor");
        }
      }
    }

    .header {
      .icons__icon {
        &--menu {
          background-image: url("~@images/mainpage/theme-#{$theme}/menu/icon_menu.svg");
        }
        &--back {
          background-image: url("~@images/mainpage/theme-#{$theme}/menu/icon_back.svg");
        }
        &--like {
          background-image: url("~@images/mainpage/theme-#{$theme}/menu/png/icon_like.png");
          &:hover {
            background-image: url("~@images/mainpage/theme-#{$theme}/menu/png/icon_like_hover.png");
          }
          &.active {
            background-image: url("~@images/mainpage/theme-#{$theme}/menu/png/icon_like_selected.png");
          }
          &.disabled,
          &.disabled:hover {
            background-image: url("~@images/mainpage/theme-#{$theme}/menu/png/icon_like.png");
          }
        }
        &--dislike {
          background-image: url("~@images/mainpage/theme-#{$theme}/menu/png/icon_dislike.png");
          &:hover {
            background-image: url("~@images/mainpage/theme-#{$theme}/menu/png/icon_dislike_hover.png");
          }
          &.active {
            background-image: url("~@images/mainpage/theme-#{$theme}/menu/png/icon_dislike_selected.png");
          }
          &.disabled,
          &.disabled:hover {
            background-image: url("~@images/mainpage/theme-#{$theme}/menu/png/icon_dislike.png");
          }
        }
        &--feedback {
          background-image: url("~@images/mainpage/theme-#{$theme}/menu/png/icon_feedback.png");
          &:hover {
            background-image: url("~@images/mainpage/theme-#{$theme}/menu/png/icon_feedback_hover.png");
          }
        }
        &--exit {
          background-image: url("~@images/mainpage/theme-#{$theme}/menu/png/icon_exit.png");
          &:hover {
            background-image: url("~@images/mainpage/theme-#{$theme}/menu/png/icon_exit_hover.png");
          }
        }
        &--videohelp {
          background-image: url("~@images/mainpage/theme-#{$theme}/menu/png/icon_videohelp.png");
          &:hover {
            background-image: url("~@images/mainpage/theme-#{$theme}/menu/png/icon_videohelp_hover.png");
          }
        }
      }
    }

    .feedback {
      .header {
        &__btn {
          background-color: map-get($colors, "mainColor");

          &:hover {
            background-color: map-get($colors, "darkColor");
          }
        }
      }
      .group {
        &__response {
          background-color: map-get($colors, "mainColor");
          background: linear-gradient(135deg, map-get($colors, "grad1"), map-get($colors, "grad3"));

          &:hover {
            background-color: map-get($colors, "mainColor");
            background: map-get($colors, "darkColor");
          }
        }
      }
    }

    .subfeedback {
      &__cui-scroll {
        & .cui-scrollbar-vertical__bobber {
            background-color: map-get($colors, "mainColor");
        }
      }
    }

    .feature {
      &--radio {
        &:not(.feature--selected):hover {
          .feature__icon {
            background-color: map-get($colors, "mainColor");
            border-color: map-get($colors, "mainColor");
          }
        }
        // selected
        &.feature--selected {
          &:hover {
            .feature__icon {
              border-color: map-get($colors, "darkColor");
              &:before {
                background-color: map-get($colors, "darkColor");
              }
            }
          }
          .feature__icon {
            border-color: map-get($colors, "mainColor");
            &:before {
              background-color: map-get($colors, "mainColor");
            }
          }
        }
      }
      &--checkbox {
        &:hover {
          .feature__icon {
            border-color: map-get($colors, "mainColor");
            background-color: map-get($colors, "mainColor");
          }
        }
        // selected
        &.feature--selected {
          &:hover {
            .feature__icon {
              background-color: map-get($colors, "darkColor");
              border-color: map-get($colors, "darkColor");
            }
          }
          .feature__icon {
            background-color: map-get($colors, "mainColor");
            border-color: map-get($colors, "mainColor");
          }
        }
      }
    }

    .videoplayer {
      &__cover {
        &:hover {
          .videoplayer__play-big {
            background-color: map-get($colors, "darkColor");
          }
        }
      }
      &__play-big {
        background-color: map-get($colors, "middleColor");
      }
      .buttons {
        &__btn {
          &:hover {
            background-color: map-get($colors, "mainColor");
          }
        }
      }
      .progress-bar {
        &__progress {
          background-color: map-get($colors, "lightColor");
        }
        &__current {
          background-color: map-get($colors, "lightColor");
        }
      }
    }

    .starmarks {
      .star {
        &__img {
          background-image: url("~@images/starmarks/star-#{$theme}.png");
        }
        &--onhover,
        &--marked {
          .star__img {
            background-image: url("~@images/starmarks/star-#{$theme}_marked.png");
          }
        }
      }
    }

    .final-test {
      &__test-theme {
        background-color: map-get($colors, "mainColor");
      }
    }

    .button-default {
      background-color: map-get($colors, "mainColor");
      &:hover {
        background-color: map-get($colors, "darkColor");
      }
    }
    .button {
      background-color: map-get($colors, "mainColor");
      &:hover {
        background-color: map-get($colors, "darkColor");
      }
    }
  }
}

@each $theme, $colors in $themes {
  @include themify($theme, $colors);
}