// Gotham =======================================
@font-face {
    font-family: 'GothamPro';
    src: url('~@fonts/GothamPro-Light.eot');
    src: url('~@fonts/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
        url('~@fonts/GothamPro-Light.woff') format('woff'),
        url('~@fonts/GothamPro-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro';
    src: url('~@fonts/GothamPro.eot');
    src: url('~@fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
        url('~@fonts/GothamPro.woff') format('woff'),
        url('~@fonts/GothamPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro';
    src: url('~@fonts/GothamPro-Italic.eot');
    src: url('~@fonts/GothamPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('~@fonts/GothamPro-Italic.woff') format('woff'),
        url('~@fonts/GothamPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'GothamPro';
    src: url('~@fonts/GothamPro-Medium.eot');
    src: url('~@fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('~@fonts/GothamPro-Medium.woff') format('woff'),
        url('~@fonts/GothamPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro';
    src: url('~@fonts/GothamPro-Bold.eot');
    src: url('~@fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('~@fonts/GothamPro-Bold.woff') format('woff'),
        url('~@fonts/GothamPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro';
    src: url('~@fonts/GothamPro-Black.eot');
    src: url('~@fonts/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
        url('~@fonts/GothamPro-Black.woff') format('woff'),
        url('~@fonts/GothamPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

// Highway =============================================

@font-face {
    font-family: 'PFHighwaySansPro';
    src: url('~@fonts/PFHighwaySansPro-Light.eot');
    src: url('~@fonts/PFHighwaySansPro-Light.eot?#iefix') format('embedded-opentype'),
        url('~@fonts/PFHighwaySansPro-Light.woff') format('woff'),
        url('~@fonts/PFHighwaySansPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'PFHighwaySansPro';
    src: url('~@fonts/PFHighwaySansPro-LightItalic.eot');
    src: url('~@fonts/PFHighwaySansPro-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('~@fonts/PFHighwaySansPro-LightItalic.woff') format('woff'),
        url('~@fonts/PFHighwaySansPro-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'PFHighwaySansPro';
    src: url('~@fonts/PFHighwaySansPro-Black.eot');
    src: url('~@fonts/PFHighwaySansPro-Black.eot?#iefix') format('embedded-opentype'),
        url('~@fonts/PFHighwaySansPro-Black.woff') format('woff'),
        url('~@fonts/PFHighwaySansPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'PFHighwaySansPro';
    src: url('~@fonts/PFHighwaySansPro-Bold.eot');
    src: url('~@fonts/PFHighwaySansPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('~@fonts/PFHighwaySansPro-Bold.woff') format('woff'),
        url('~@fonts/PFHighwaySansPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'PFHighwaySansPro';
    src: url('~@fonts/PFHighwaySansPro-Thin.eot');
    src: url('~@fonts/PFHighwaySansPro-Thin.eot?#iefix') format('embedded-opentype'),
        url('~@fonts/PFHighwaySansPro-Thin.woff') format('woff'),
        url('~@fonts/PFHighwaySansPro-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'PFHighwaySansPro';
    src: url('~@fonts/PFHighwaySansPro-Medium.eot');
    src: url('~@fonts/PFHighwaySansPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('~@fonts/PFHighwaySansPro-Medium.woff') format('woff'),
        url('~@fonts/PFHighwaySansPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'PFHighwaySansPro';
    src: url('~@fonts/PFHighwaySansPro-Regular.eot');
    src: url('~@fonts/PFHighwaySansPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('~@fonts/PFHighwaySansPro-Regular.woff') format('woff'),
        url('~@fonts/PFHighwaySansPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}