.fade-enter-active,
.fade-leave-active {
    transition: opacity .3s
}
.fade-enter,
.fade-leave-to {
    opacity: 0
}

.fastfade-enter-active,
.fastfade-leave-active {
    transition: opacity .15s
}
.fastfade-enter,
.fastfade-leave-to {
    opacity: 0
}

.button-default {
    text-align: center;
    padding: 12px 50px;
    border-radius: 30px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    transition: all .2s;
    margin-top: auto;
    cursor: pointer;

    &:hover {
    }
    &.disabled {
        background-color: #9ca9b8;
        pointer-events: none;
    }
}
.button {
    position: relative;
    float: left;
    height: 44px;
    font-family: GothamPro;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
}
.button:disabled, .button[disabled] {
    background-color: #9ca9b8!important;
}