.feature {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
    user-select: none;
    -ms-user-select: none;
    margin: 15px 0;

    &:first-child { margin-top: 0; }
    &:last-child { margin-bottom: 0; }

    &:hover {
        &__icon {
            transition: all .3s;
        }
    }
    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        margin-right: 15px;
        flex-shrink: 0;
        transition: all .3s;

        &:before {
            content: '';
            flex-shrink: 0;
        }
    }
    &__text {
        line-height: 1.3;
        color: #1C2C3F;
    }

    &--radio {
        .feature__icon {
            border-radius: 50%;
            border-width: 2px;
            border-style: solid;
            border-color: #d0d7e6;
        }
        &:hover {
            .feature__icon {
            }
        }
        // selected
        &.feature--selected {
            &:hover {
                background-color: #fff;
                .feature__icon {
                    background-color: #fff;
                }
            }
            .feature__icon {
                &:before {
                    height: 12px;
                    width: 12px;
                    border-radius: 50%;
                }
            }
        }
    }
    &--checkbox {
        .feature__icon {
            border-width: 2px;
            border-style: solid;
            border-radius: 3px;
            border-color: #d0d7e6;
        }
        &:hover {
            .feature__icon {
            }
        }
        // selected
        &.feature--selected {
            .feature__icon {
                &:before {
                    height: 100%;
                    width: 100%;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-image: url(~@images/test/checked.svg);
                }
            }
        }
    }
}

.magic-text {
    .feature__text {
        color: #e47e00;
    }
}