.subfeedback {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    font-family: 'PFHighwaySansPro';
    line-height: 1.3;

    &__caption {
        font-size: 20px;
        font-weight: bold;
        color: #485981;
    }
    &__container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    &__form {
        width: 100%;
    }
    &__input {
        width: 100%;
        background-color: #f2f6ff;
        border: 1px solid #f2f6ff;
        outline: none;
        padding: 12px 20px;
        border-radius: 5px;
        color: #485981;
        font-size: 16px;
        resize: none;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;

        &::placeholder {
            color: #85919e;
        }
        &:focus {
            outline: none;
            border: 1px solid #C9D4E2;
        }
    }
    &__button {
        align-self: center;
    }

    // Общие стили скролла для всех субкомпонентов
    &__scroll-wrapper {
        position: relative;
        display: flex;
        width: 100%;
    }
    &__cui-scroll {
        position: absolute;
        height: 100%;
        right: 0px;
        width: 1px;
        background-color: #b4bed1;

        & .cui-scrollbar-vertical__bobber {
            width: 5px;
            left: -2px;
            border-radius: 7px;
            transition: all .1s;
        }
    }
    &__scroll {
        height: auto;
        padding-right: 20px;
    }
    .feature {
        font-family: 'GothamPro';
        font-size: 16px;
    }
}