@import '_mixins';
@import '_color-themes';
@import '_fonts';
@import '_global';
@import '_radio-checkbox';
@import '_subfeedback';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, textarea {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
    height: 100vh;
    width: 100vw;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
	line-height: 1;
	overflow: hidden;
	font-family: 'PFHighwaySansPro';
	font-size: 18px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
    -webkit-touch-callout: none;
    &::selection {
        background: transparent;
    }
    &::-moz-selection {
        background: transparent;
    }
}

body * {
    box-sizing: border-box;
}

body input,
body textarea,
body .globalLongread {
    -webkit-user-select: text !important;
    /* Chrome all / Safari all */
    -moz-user-select: text !important;
    /* Firefox all */
    -ms-user-select: text !important;
    /* IE 10+ */
    user-select: text !important;
    /* Likely future */
    -webkit-touch-callout: all !important;
    &::selection {
        background: #52EDFF;
    }
    &::-moz-selection {
        background: #52EDFF;
    }
}
